.WelcomeText {
    font-weight: 700;
    font-family: JetBrains Mono, monospace;
}

#NameText {
    animation: colorChanger 20s linear infinite;
}

@keyframes colorChanger {
    0% {color: #f5e0dc;}
    7% {color: #f2cdcd;}
    14% {color: #f5c2e7;}
    21% {color: #cba6f7;}
    28% {color: #f38ba8;}
    35% {color: #eba0ac;}
    42% {color: #fab387;}
    50% {color: #f9e2af;}
    54% {color: #a6e3a1;}
    65% {color: #94e2d5;}
    72% {color: #89dceb;}
    81% {color: #74c7ec;}
    90% {color: #89b4fa;}
    100% {color: #b4befe;}
}
